# -------------------------
# Python 基础忽略规则
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 虚拟环境
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# -------------------------
# 项目敏感文件
# -------------------------
# 环境变量（千万不要上传）
.env

# 本地配置文件
*.local
*.config

# -------------------------
# 依赖与构建
# -------------------------
*.egg-info/
dist/
build/
*.egg
.APIRequest.py
# -------------------------
# 编辑器相关
# -------------------------
# VS Code
.vscode/

# PyCharm
.idea/

# -------------------------
# 日志与临时文件
# -------------------------
*.log
*.tmp
*.temp

# -------------------------
# 系统文件
# -------------------------
.DS_Store
Thumbs.db
